[submodule "desktop-apps"]
	path = desktop-apps
	url = https://lab02.ration.works/ration/ration-docs-desktop-apps.git
[submodule "desktop-sdk"]
	path = desktop-sdk
	url = https://lab02.ration.works/ration/ration-docs-desktop-sdk.git
[submodule "core"]
	path = core
	url = https://lab02.ration.works/ration/ration-docs-core.git
[submodule "sdkjs"]
	path = sdkjs
	url = https://lab02.ration.works/ration/ration-docs-sdkjs.git
[submodule "dictionaries"]
	path = dictionaries
	url = https://lab02.ration.works/ration/ration-docs-dictionaries.git
[submodule "web-apps"]
	path = web-apps
	url = https://lab02.ration.works/ration/ration-docs-web-apps.git
